.top_main
  .top_left
    .top_visual
      いつでも任せられる
      %br
      動画編集者をみつけよう
    %p.top_visual_p
      ビジネスからプライベート利用まで、動画編集スキルを
      %br
      気軽に売り買いできるスキルマーケットです。
    .btn-wrapper
      = link_to "いますぐはじめる", "#" , class: "btn-wrapper_btn"
  .top_right
    =link_to image_tag("icon/At the office-pana.png",class:"top_right_icon"),"#"
-# .top_main
-#   .visual
-#     .visual_top
-#       いつでも任せられる
-#       %br
-#       動画編集者をみつけよう
-#     %p.visual_p
-#       ビジネスからプライベート利用まで、動画編集スキルを
-#       %br
-#       気軽に売り買いできるスキルマーケットです。
-#     .btn-wrapper
-#       = link_to "いますぐはじめる", "#" , class: "btn-wrapper_btn"
-# .topintroduction
-#   .subtitle
-#     ビデオパートナーの
-#     %span.subtitle_big 3
-#     つの特徴
-# .main_list
-#   .lists
-#     .list
-#       %spsn ①
-#       h1 オンラインで完結
-#     %br
-#     %p サービス提供はすべて
-#     %p オンライン上で完結。
-#   .lists
-#     .list
-#       %spsn ②
-#       h1 リーズナブル
-#     %br
-#     %p 豊富なサービスを簡単に
-#     %p 比較検討できます。
-#   .lists
-#     .list
-#       %spsn ③
-#       h1 動画の外注化
-#     %br
-#     %p 動画編集者にして 送信することで、
-#     %p 編集していただくことができます。
-# .top_users
-#   .top_users_main
-#     最新ユーザー
-#   =link_to "もっと見る→","#", class:"top_users_sabu"
-# .top_users



   

    
