// header 
.header{
  background: #FFFFFF;
  border: 1px solid #979797;
  padding: 5px 40px;
  &_logo{
    width: 300px;
    margin: 20px 90px;
  }
  &_login{
    background: #D8D8D8;
    border-radius: 5px;
    float: right;
    margin: 40px 50px 40px 0;
    width: 120px;
    height: 50px;
    &_text{
      font-family: ToppanBunkyuGothicPr6N-DB;
      font-size: 18px;
      color: #FCF55C;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }
  &_signup{
    background: #000000;
    border-radius: 5px;
    float: right;
    margin: 40px 30px 40px 250px ;
    width: 120px;
    height: 50px;
    &_text{
      font-family: ToppanBunkyuGothicPr6N-DB;
      font-size: 18px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
  }
  &_index{
    background: #000000;
    border-radius: 5px;
    float: right;
    margin: 40px 30px 40px 250px ;
    width: 140px;
    height: 50px;
  }
}




// topページ
.top_main{
  background: #D8D8D8;
  border: 1px solid #979797;
  height: 400px;
  margin: 10px 0px;
  padding: 40px 200px;
  .top_left{
    float: left;
    .top_visual{
      font-family: HiraginoSans-W6;
      font-size: 36px;
      color: #F4EF74;
    }
    .top_visual_p{
      font-family: TsukuARdGothic-Bold;
      font-size: 14px;
      color: #000000;
      padding: 20px 0px;
    }
    .btn-wrapper{
      background: #000000;
      border: 5px solid #FCF55C;
      border-radius: 27.5px;
      width: 250px;
      text-align: center;
      &_btn{
        font-family: ToppanBunkyuGothicPr6N-DB;
        font-size: 24px;
        color: #FCF55C;
      }
    }
  }
  .top_right{
    float: right;
    &_icon{
      height: 300px;
      width: 600px;
    }
  }
}
.topintroduction{
  text-align:center;
  font-family: HiraginoSans-W6;
  font-size: 40px;
  color: #F8F267;
  .subtitle{
    &_big{
      font-size: 55px;
    }
  }
}
.main_list{
  text-align:center;
  padding:20px 0;
  margin: 20px 0;
  .lists{
    padding: 40px 28px;
    margin: 16px 50px;
    display: inline-block;
    span{
      font-family: HiraginoSans-W9;
      font-size: 36px;
      color: #FF0000;
    }
    h1{
      font-family: HiraginoSans-W6;
      font-size: 32px;
      color: #000000;
      float: right;
      margin-top: 9px;
    }
    &_image{
      width: 190px;
      height: 120px;
      margin:20px 0px;
    }
    p{
      font-family: HiraMaruProN-W4;
      font-size: 20px;
      color: #000000;
    }
  }
}
.top_users{
  margin: 30px 80px;
  display: flex;
  justify-content: space-between;
  &_main{
    font-family: HiraginoSans-W6;
    font-size: 36px;
    color: #000000;
  }
  &_sabu{
    font-family: HiraginoSans-W6;
    font-size: 14px;
    color: #FF0000;
    margin-top: 30px;
  } 
}
.top_members{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  &_main{
    background: #FFFFFF;
    border: 1px solid #979797;
    &_image{
      height: 200px;
      width: 200px;
      border: 30px solid white;
      border-radius:50%;
	    object-position:-20px 0px;
    }
    &_name{
      font-family: HiraginoSans-W4;
      font-size: 24px;
      color: #000000;
    }
  }
}





// footer
.footer{
  background: #F4EF74;
  border: 1px solid #979797;
  height: 300px;
  margin: 10px 0px 0px 0px;
  padding: 90px 200px;
  &_left{
    float: left;
    &_visual{
      font-family: HiraginoSans-W7;
      font-size: 36px;
      color: #FFFFFF;
    }
  }
  .footer_right{
    float: right;
    &_icon{
      height: 200px;
      width: 400px;
    }
  }
}
.footer_form{
  background: #D8D8D8;
  border: 1px solid #979797;
  height: 300px;
  text-align: center;
  &_icon{
    margin-top: 120px;
    height: 90px;
  }
}