// index ユーザー一覧ページ
.index_profile{
  height: 400px;
  margin: 100px;
  background: #FFFCE8;
  border: 1px solid #979797;
  display: flex;
  justify-content: space-around;
  &_main{
    margin: 40px 50px;
    width: 300px;
    &_user{
      font-family: HiraginoSans-W7;
      font-size: 24px;
      color: #000000;
      text-align: center;
    }
    &_image{
      height: 250px;
      background: #FFFFFF;
      border: 1px solid #979797;
      margin-top: 20px;
      &_icon{
        height: 250px;
        width: 300px;
        border-radius: 150px;
      }
    }
  }
  &_introduction{
    margin: 40px ;
    background: #FFFFFF;
    border: 1px solid #979797;
    height: 320px;
    width: 600px;
    &_name{
      font-family: HiraginoSans-W7;
      font-size: 36px;
      color: #000000;
      text-align: center;
      margin: 40px;
    }
    &_line{
      border: 1px solid #979797;
      width: 500px;
      margin: 0 auto;
    }
    &_sentence{
      font-family: HiraginoSans-W7;
      font-size: 18px;
      color: #000000;
      margin: 40px;
      height: 120px;
    }
  }
}

// show ユーザー詳細ページ
